# local terraform init files
.terraform*

# python cache files
__pycache__/

# virtual environment
venv/

# lambda files
package/
tf/lambda_function*

# Everthing else
.DS_Store
*.zip
stockfish.tar
.env